html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $peridot-light;
  font-size: 2.5em;
  font-family: "Source Sans Pro", sans-serif;
  background-image: url("/images/purty-wood.png");
  background-color: $shadow-dark;
}

.container {
  position: relative;
  overflow-y: scroll;
  height: 100vh;
}