.Nav {
  height: 120px;
  width: 100vw;
  z-index: 100;
  background-color: $atoll;
  position: fixed;
  overflow: hidden;
  border-bottom: 5px solid $ferra;

  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    padding: 1.5em;
    font-family: "Bungee";
  }

  &__button {
    height: 45px;
    width: 100px;
    align-self: center;
    margin-right: 1em;
    background-color: $sands-light;
    color: $ferra;
    font-weight: 700;
    border: 5px solid $ferra
  }

  @include screenBP(tab-land) {
    border-bottom: none;
  }
}
