.Nav {
  height: 120px;
  width: 100vw;
  z-index: 100;
  background-color: #4056a1;
  color: #ffff;
  position: fixed;
  overflow: hidden;

  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    padding: 1.5em;
    font-family: "Bungee";
  }

  &__input {
    padding: 1.5em;
  }

  &__spacer {
    height: 120px;
    position: relative;
  }
}

.Nav__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Nav__logo {
  padding: 1.5em;
  font-family: "Bungee";
}

.Nav__input {
  padding: 1.5em;
}

.Nav__spacer {
  height: 120px;
  position: relative;
}