.Tweeting {
  position: relative;
  width: 100%;
  color: $ferra;
  top: 25vh;
  
  grid-column-start: 2;
  grid-column-end: 3;

  


  &__title {
    text-align: center;
    color: $sands-light;
  }

  &__form {
    background-color: $sands-light;
    position: relative;
    width: 97%;
    margin: auto;
    border: 1em solid $ferra;

    &--warning {
      text-align: center;
      color: red;
    }

    &--label {
      padding-top: 15px;
      padding-left: 15px;
      display: block;
    }

    &--textArea {
      border: none;
      border-bottom: 5px solid black;
      display: block;
      width: 98%;
      outline: none;
      resize: none;
      background-color: transparent;
      margin: auto;
      padding-top: 7px;
    }

    &--footer {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px; 
      display: flex;
      justify-content: space-between;
    }

    &--button {
      margin: 7px;
      background-color:#4056a1;
      color: $peridot-light;
      border: none;
      border-radius: 5px;
      font-family: "Bungee";
    }

    &--counter {
      margin: 7px;
      color: $ferra;
      display: block;
    }
  }


  @include screenBP(tab-land) {
    top: 0;
    grid-column-start: 1;

    &__title {
      display: none;;
    }
  }
}