html {
  box-sizing: border-box;
  font-size: 62.5%; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  color: #CCD086;
  font-size: 2.5em;
  font-family: "Source Sans Pro", sans-serif;
  background-image: url("/images/purty-wood.png");
  background-color: #564A2F; }

.container {
  position: relative;
  overflow-y: scroll;
  height: 100vh; }

.Tweets {
  width: 100%;
  margin-top: 35vh; }
  @media (max-width: 37.5em) {
    .Tweets {
      margin-top: 0; } }
  @media (max-width: 75em) {
    .Tweets {
      margin-top: 0; } }

.Header {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 2;
  margin-top: 30vh;
  margin-left: 10vw;
  width: 30vw;
  height: 30vw;
  background-color: #086370;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .Header__img {
    padding-top: 30px; }
    .Header__img img {
      width: 15vw; }
  @media (max-width: 37.5em) {
    .Header {
      width: 100vw;
      height: 40vw;
      top: 120px;
      margin-top: 0;
      margin-left: 0;
      justify-content: flex-start; } }
  @media (max-width: 75em) {
    .Header {
      width: 100vw;
      height: 40vw;
      top: 120px;
      margin-top: 0;
      margin-left: 0;
      justify-content: flex-start; } }

.Nav {
  height: 120px;
  width: 100vw;
  z-index: 100;
  background-color: #086370;
  position: fixed;
  overflow: hidden;
  border-bottom: 5px solid #6B4541; }
  .Nav__container {
    width: 100%;
    display: flex;
    justify-content: space-between; }
  .Nav__logo {
    padding: 1.5em;
    font-family: "Bungee"; }
  .Nav__button {
    height: 45px;
    width: 100px;
    align-self: center;
    margin-right: 1em;
    background-color: #EFF6DC;
    color: #6B4541;
    font-weight: 700;
    border: 5px solid #6B4541; }
  @media (max-width: 37.5em) {
    .Nav {
      border-bottom: none; } }
  @media (max-width: 75em) {
    .Nav {
      border-bottom: none; } }

.Tweet {
  background-color: #EFF6DC;
  color: #6B4541;
  width: 97%;
  margin: auto;
  border: 1em solid #6B4541;
  margin-top: 30px; }
  .Tweet__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px; }
    .Tweet__header--container {
      display: flex; }
    .Tweet__header--icon {
      font-size: 30px; }
    .Tweet__header--name {
      padding-left: 10px; }
    .Tweet__header--handle {
      opacity: 0; }
  .Tweet__body {
    width: 97%;
    margin: auto;
    border-bottom: 5px solid black;
    word-wrap: break-word; }
  .Tweet__footer {
    display: flex;
    justify-content: space-between;
    width: 93%;
    margin: auto;
    padding-bottom: 15px; }
    .Tweet__footer--date {
      padding-top: 15px;
      font-size: 15px; }
    .Tweet__footer--container {
      padding-top: 8px;
      font-size: 15px; }
    .Tweet__footer--retweet {
      padding-left: 10px; }
    .Tweet__footer--love {
      padding-left: 10px; }
  .Tweet:hover {
    box-shadow: 10px 10px 0px -2px rgba(0, 0, 0, 0.31); }
  .Tweet:hover .Tweet__header--handle {
    opacity: 1; }

.Tweeting {
  position: relative;
  width: 100%;
  color: #6B4541;
  top: 25vh;
  grid-column-start: 2;
  grid-column-end: 3; }
  .Tweeting__title {
    text-align: center;
    color: #EFF6DC; }
  .Tweeting__form {
    background-color: #EFF6DC;
    position: relative;
    width: 97%;
    margin: auto;
    border: 1em solid #6B4541; }
    .Tweeting__form--warning {
      text-align: center;
      color: red; }
    .Tweeting__form--label {
      padding-top: 15px;
      padding-left: 15px;
      display: block; }
    .Tweeting__form--textArea {
      border: none;
      border-bottom: 5px solid black;
      display: block;
      width: 98%;
      outline: none;
      resize: none;
      background-color: transparent;
      margin: auto;
      padding-top: 7px; }
    .Tweeting__form--footer {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
      justify-content: space-between; }
    .Tweeting__form--button {
      margin: 7px;
      background-color: #4056a1;
      color: #CCD086;
      border: none;
      border-radius: 5px;
      font-family: "Bungee"; }
    .Tweeting__form--counter {
      margin: 7px;
      color: #6B4541;
      display: block; }
  @media (max-width: 37.5em) {
    .Tweeting {
      top: 0;
      grid-column-start: 1; }
      .Tweeting__title {
        display: none; } }
  @media (max-width: 75em) {
    .Tweeting {
      top: 0;
      grid-column-start: 1; }
      .Tweeting__title {
        display: none; } }

.Grid {
  display: grid;
  grid-template-columns: repeat(2, 50%); }
  @media (max-width: 37.5em) {
    .Grid {
      grid-template-columns: 100%; } }
  @media (max-width: 75em) {
    .Grid {
      grid-template-columns: 100%; } }
