$sands: #DEEAC2;
$sands-light: #EFF6DC;
$sands-dark: #BFCBA4;

$peridot: #A7B242;
$peridot-light: #CCD086;
$peridot-dark: #889526;

$shadow: #726548;
$shadow-light: #A59A86;
$shadow-dark: #564A2F;

$ferra: #6B4541;
$ferra-light: #A08480;
$ferra-dark: #4F2C28;

$atoll: #086370;
$atoll-light: #6B99A2;
$atoll-dark: #034855;